---
---

<!-- <div class="flex flex-col justify-center"> -->
<picture class="flex justify-center my-4">
    <source srcset="/profile/profile-symbol.webp" type="image/webp" />
    <source srcset="/profile/profile-symbol.png" type="image/png" />
    <img
        class="rounded-full h-60 w-60"
        src="/profile/profile-symbol.png"
        alt="Profile photo AsciiCrawler - Alfredo Torres Velarde"
    />
</picture>

<h1 class="text-2xl font-bold text-center">Alfredo Torres Velarde</h1>
<h2 class="text-base font-bold text-center mb-4">Fullstack Developer</h2>

<div class="flex justify-center">
    <a target="_blank" href="https://www.linkedin.com/in/alfredotorresvelarde/">
        <img
            class="h-8 w-8 mx-2 object-contain hover:scale-110 hover:brightness-90 transition-all cursor-pointer"
            src="/social-media/linkedin.svg"
            alt="Linkedin Alfredo Torres Velarde"
        />
    </a>
    <a target="_blank" href="https://github.com/AsciiCrawler">
        <img
            class="h-8 w-8 mx-2 object-contain hover:scale-110 hover:brightness-90 transition-all cursor-pointer"
            src="/social-media/github.svg"
            alt="Github AsciiCrawler - Alfredo Torres Velarde"
        />
    </a>
    <!-- <a target="_blank" href="https://www.reddit.com/user/AsciiCrawler">
        <img
            class="h-8 w-8 mx-2 object-contain hover:scale-110 hover:brightness-90 transition-all cursor-pointer"
            src="/social-media/reddit.svg"
            alt="Reddit AsciiCrawler - Alfredo Torres Velarde"
        />
    </a> -->
    <a target="_blank" href="https://twitter.com/AsciiCrawler">
        <img
            class="h-8 w-8 mx-2 object-contain hover:scale-110 hover:brightness-90 transition-all cursor-pointer"
            src="/social-media/twitter.svg"
            alt="Twitter AsciiCrawler - Alfredo Torres Velarde"
        />
    </a>
</div>
